# Dataset
data/sales.csv

# Trained models
models/*.pkl

# Generated outputs
outputs/*.csv

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db